In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_train = pd.read_csv("Documents/CSVs/titanic/train.csv")

In [3]:
df_test = pd.read_csv("Documents/CSVs/titanic/test.csv")

In [4]:
df_test_sub = pd.read_csv("Documents/CSVs/titanic/gender_submission.csv")

In [5]:
df_test_sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [6]:
df_train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [7]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
df_train['Age'].fillna(df_train['Age'].mean(), inplace=True) #AGE média
df_test['Age'].fillna(df_test['Age'].mean(), inplace=True) #AGE média

In [10]:
df_train['new_cabin'] = le.fit_transform(df_train['Cabin'].fillna('NaN'))
df_test['new_cabin'] = le.fit_transform(df_test['Cabin'].fillna('NaN'))

In [11]:
mean_idx1 = int(df_train['new_cabin'].mean())
df_train['new_cabin'].fillna(mean_idx1, inplace=True)

In [12]:
df_test['new_cabin'].fillna(mean_idx1, inplace=True)

In [13]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

In [14]:
df_train['Sex_binario'] = df_train['Sex'].map(transformar_sexo)

In [15]:
df_test['Sex_binario'] = df_test['Sex'].map(transformar_sexo)

In [16]:
variaveis = ['Sex_binario', 'Age', 'new_cabin']

In [17]:
X_train= df_train[variaveis]
y_train= df_train['Survived']
X_test = df_test[variaveis]  # PARTE QUE FICOU FALTANDO

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [19]:
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
print(np.mean(X_train, axis=0))

[3.98733297e-17 2.23290646e-16 2.59176643e-16]

In [20]:
from sklearn.neural_network import MLPClassifier


rede_neural = MLPClassifier(max_iter=1000, 
                                   verbose=True, 
                                   tol=0.0000100,
                                   hidden_layer_sizes=(20,100))

# rede_neural = MLPClassifier(max_iter=2000, 
#                             verbose=True, 
#                             tol=1e-05,
#                             hidden_layer_sizes=(50,100))

# rede_neural = MLPClassifier(max_iter=500, 
#                             verbose=True, 
#                             tol=1e-06,
#                             hidden_layer_sizes=(20,50))


rede_neural.fit(X_train, y_train)

Iteration 1, loss = 0.68486580
Iteration 2, loss = 0.65193376
Iteration 3, loss = 0.62396171
Iteration 4, loss = 0.59978409
Iteration 5, loss = 0.57858182
Iteration 6, loss = 0.56049637
Iteration 7, loss = 0.54332052
Iteration 8, loss = 0.52962799
Iteration 9, loss = 0.51807962
Iteration 10, loss = 0.50931094
Iteration 11, loss = 0.50142064
Iteration 12, loss = 0.49668896
Iteration 13, loss = 0.49291633
Iteration 14, loss = 0.49043324
Iteration 15, loss = 0.48797840
Iteration 16, loss = 0.48587095
Iteration 17, loss = 0.48364848
Iteration 18, loss = 0.48177976
Iteration 19, loss = 0.48025087
Iteration 20, loss = 0.47867209
Iteration 21, loss = 0.47687238
Iteration 22, loss = 0.47545927
Iteration 23, loss = 0.47419764
Iteration 24, loss = 0.47290597
Iteration 25, loss = 0.47165431
Iteration 26, loss = 0.47078946
Iteration 27, loss = 0.46980643
Iteration 28, loss = 0.46873657
Iteration 29, loss = 0.46787938
Iteration 30, loss = 0.46717201
Iteration 31, loss = 0.46645968
Iteration 32, loss = 0.46565278
Iteration 33, loss = 0.46490388
Iteration 34, loss = 0.46437927
Iteration 35, loss = 0.46371948
Iteration 36, loss = 0.46340142
Iteration 37, loss = 0.46291247
Iteration 38, loss = 0.46236355
Iteration 39, loss = 0.46197783
Iteration 40, loss = 0.46148607
Iteration 41, loss = 0.46108650
Iteration 42, loss = 0.46067623
Iteration 43, loss = 0.46094424
Iteration 44, loss = 0.46035616
Iteration 45, loss = 0.45993511
Iteration 46, loss = 0.45938272
Iteration 47, loss = 0.45913798
Iteration 48, loss = 0.45870665
Iteration 49, loss = 0.45848538
Iteration 50, loss = 0.45823673
Iteration 51, loss = 0.45807913
Iteration 52, loss = 0.45783087
Iteration 53, loss = 0.45771168
Iteration 54, loss = 0.45752640
Iteration 55, loss = 0.45709061
Iteration 56, loss = 0.45693227
Iteration 57, loss = 0.45668985
Iteration 58, loss = 0.45660666
Iteration 59, loss = 0.45627846
Iteration 60, loss = 0.45584234
Iteration 61, loss = 0.45555711
Iteration 62, loss = 0.45563088
Iteration 63, loss = 0.45547541
Iteration 64, loss = 0.45544007
Iteration 65, loss = 0.45487486
Iteration 66, loss = 0.45490996
Iteration 67, loss = 0.45452814
Iteration 68, loss = 0.45410724
Iteration 69, loss = 0.45382882
Iteration 70, loss = 0.45417237
Iteration 71, loss = 0.45408957
Iteration 72, loss = 0.45336982
Iteration 73, loss = 0.45311741
Iteration 74, loss = 0.45321304
Iteration 75, loss = 0.45300576
Iteration 76, loss = 0.45270401
Iteration 77, loss = 0.45264321
Iteration 78, loss = 0.45253123
Iteration 79, loss = 0.45224110
Iteration 80, loss = 0.45172204
Iteration 81, loss = 0.45282353
Iteration 82, loss = 0.45204464
Iteration 83, loss = 0.45128696
Iteration 84, loss = 0.45158884
Iteration 85, loss = 0.45106367
Iteration 86, loss = 0.45092907
Iteration 87, loss = 0.45109700
Iteration 88, loss = 0.45052829
Iteration 89, loss = 0.45057011
Iteration 90, loss = 0.45021248
Iteration 91, loss = 0.45030618
Iteration 92, loss = 0.45003362
Iteration 93, loss = 0.44980190
Iteration 94, loss = 0.44972428
Iteration 95, loss = 0.44978229
Iteration 96, loss = 0.44979843
Iteration 97, loss = 0.44949146
Iteration 98, loss = 0.44929223
Iteration 99, loss = 0.44960977
Iteration 100, loss = 0.44891047
Iteration 101, loss = 0.44892089
Iteration 102, loss = 0.44898454
Iteration 103, loss = 0.44861821
Iteration 104, loss = 0.44834518
Iteration 105, loss = 0.44830171
Iteration 106, loss = 0.44843099
Iteration 107, loss = 0.44845054
Iteration 108, loss = 0.44779200
Iteration 109, loss = 0.44789160
Iteration 110, loss = 0.44760839
Iteration 111, loss = 0.44781228
Iteration 112, loss = 0.44765968
Iteration 113, loss = 0.44806714
Iteration 114, loss = 0.44765649
Iteration 115, loss = 0.44753237
Iteration 116, loss = 0.44716027
Iteration 117, loss = 0.44696388
Iteration 118, loss = 0.44688887
Iteration 119, loss = 0.44691960
Iteration 120, loss = 0.44692908
Iteration 121, loss = 0.44651716
Iteration 122, loss = 0.44653789
Iteration 123, loss = 0.44648535
Iteration 124, loss = 0.44635366
Iteration 125, loss = 0.44629724
Iteration 126, loss = 0.44682462
Iteration 127, loss = 0.44612861
Iteration 128, loss = 0.44656286
Iteration 129, loss = 0.44615514
Iteration 130, loss = 0.44578816
Iteration 131, loss = 0.44574712
Iteration 132, loss = 0.44567597
Iteration 133, loss = 0.44550135
Iteration 134, loss = 0.44542257
Iteration 135, loss = 0.44520177
Iteration 136, loss = 0.44523596
Iteration 137, loss = 0.44531433
Iteration 138, loss = 0.44491038
Iteration 139, loss = 0.44479162
Iteration 140, loss = 0.44473450
Iteration 141, loss = 0.44468110
Iteration 142, loss = 0.44487900
Iteration 143, loss = 0.44494323
Iteration 144, loss = 0.44470307
Iteration 145, loss = 0.44453344
Iteration 146, loss = 0.44436744
Iteration 147, loss = 0.44422965
Iteration 148, loss = 0.44412785
Iteration 149, loss = 0.44425644
Iteration 150, loss = 0.44394460
Iteration 151, loss = 0.44443854
Iteration 152, loss = 0.44404262
Iteration 153, loss = 0.44385505
Iteration 154, loss = 0.44392330
Iteration 155, loss = 0.44381927
Iteration 156, loss = 0.44361098
Iteration 157, loss = 0.44357662
Iteration 158, loss = 0.44361383
Iteration 159, loss = 0.44335721
Iteration 160, loss = 0.44325755
Iteration 161, loss = 0.44336868
Iteration 162, loss = 0.44327912
Iteration 163, loss = 0.44304194
Iteration 164, loss = 0.44371871
Iteration 165, loss = 0.44305308
Iteration 166, loss = 0.44309420
Iteration 167, loss = 0.44308301
Iteration 168, loss = 0.44311968
Iteration 169, loss = 0.44307745
Iteration 170, loss = 0.44273627
Iteration 171, loss = 0.44251097
Iteration 172, loss = 0.44251328
Iteration 173, loss = 0.44301409
Iteration 174, loss = 0.44213521
Iteration 175, loss = 0.44337434
Iteration 176, loss = 0.44247824
Iteration 177, loss = 0.44259745
Iteration 178, loss = 0.44228256
Iteration 179, loss = 0.44185176
Iteration 180, loss = 0.44183108
Iteration 181, loss = 0.44191966
Iteration 182, loss = 0.44213662
Iteration 183, loss = 0.44171431
Iteration 184, loss = 0.44185178
Iteration 185, loss = 0.44238018
Iteration 186, loss = 0.44187165
Iteration 187, loss = 0.44143662
Iteration 188, loss = 0.44170100
Iteration 189, loss = 0.44163918
Iteration 190, loss = 0.44102787
Iteration 191, loss = 0.44161346
Iteration 192, loss = 0.44148875
Iteration 193, loss = 0.44120321
Iteration 194, loss = 0.44189864
Iteration 195, loss = 0.44108454
Iteration 196, loss = 0.44117039
Iteration 197, loss = 0.44091464
Iteration 198, loss = 0.44105978
Iteration 199, loss = 0.44075484
Iteration 200, loss = 0.44066705
Iteration 201, loss = 0.44087324
Iteration 202, loss = 0.44175911
Iteration 203, loss = 0.44112883
Iteration 204, loss = 0.44066951
Iteration 205, loss = 0.44062846
Iteration 206, loss = 0.44097287
Iteration 207, loss = 0.44063068
Iteration 208, loss = 0.44030222
Iteration 209, loss = 0.44036704
Iteration 210, loss = 0.44031823
Iteration 211, loss = 0.44061200
Iteration 212, loss = 0.44006281
Iteration 213, loss = 0.44019561
Iteration 214, loss = 0.43996367
Iteration 215, loss = 0.44002335
Iteration 216, loss = 0.43968184
Iteration 217, loss = 0.44005415
Iteration 218, loss = 0.43982369
Iteration 219, loss = 0.43990034
Iteration 220, loss = 0.44004350
Iteration 221, loss = 0.43950202
Iteration 222, loss = 0.43945287
Iteration 223, loss = 0.43955666
Iteration 224, loss = 0.43956361
Iteration 225, loss = 0.43965678
Iteration 226, loss = 0.43929485
Iteration 227, loss = 0.43934118
Iteration 228, loss = 0.43924519
Iteration 229, loss = 0.43920407
Iteration 230, loss = 0.43941184
Iteration 231, loss = 0.43928447
Iteration 232, loss = 0.43871742
Iteration 233, loss = 0.43911887
Iteration 234, loss = 0.43938228
Iteration 235, loss = 0.43889935
Iteration 236, loss = 0.43918701
Iteration 237, loss = 0.43900950
Iteration 238, loss = 0.43861219
Iteration 239, loss = 0.43874012
Iteration 240, loss = 0.43896859
Iteration 241, loss = 0.43859319
Iteration 242, loss = 0.43888687
Iteration 243, loss = 0.43902657
Iteration 244, loss = 0.43869031
Iteration 245, loss = 0.43821254
Iteration 246, loss = 0.43901098
Iteration 247, loss = 0.43895988
Iteration 248, loss = 0.43818391
Iteration 249, loss = 0.43825792
Iteration 250, loss = 0.43833171
Iteration 251, loss = 0.43823496
Iteration 252, loss = 0.43794820
Iteration 253, loss = 0.43817097
Iteration 254, loss = 0.43836661
Iteration 255, loss = 0.43804733
Iteration 256, loss = 0.43837901
Iteration 257, loss = 0.43789762
Iteration 258, loss = 0.43819529
Iteration 259, loss = 0.43834552
Iteration 260, loss = 0.43756270
Iteration 261, loss = 0.43786015
Iteration 262, loss = 0.43820138
Iteration 263, loss = 0.43769728

Iteration 264, loss = 0.43740278
Iteration 265, loss = 0.43785278
Iteration 266, loss = 0.43825620
Iteration 267, loss = 0.43786468
Iteration 268, loss = 0.43756372
Iteration 269, loss = 0.43756819
Iteration 270, loss = 0.43750336
Iteration 271, loss = 0.43723476
Iteration 272, loss = 0.43787363
Iteration 273, loss = 0.43783719
Iteration 274, loss = 0.43740847
Iteration 275, loss = 0.43746965
Iteration 276, loss = 0.43707658
Iteration 277, loss = 0.43749747
Iteration 278, loss = 0.43720889
Iteration 279, loss = 0.43726240
Iteration 280, loss = 0.43756930
Iteration 281, loss = 0.43682586
Iteration 282, loss = 0.43727462
Iteration 283, loss = 0.43669275
Iteration 284, loss = 0.43702077
Iteration 285, loss = 0.43682096
Iteration 286, loss = 0.43698895
Iteration 287, loss = 0.43717713
Iteration 288, loss = 0.43702490
Iteration 289, loss = 0.43663209
Iteration 290, loss = 0.43680759
Iteration 291, loss = 0.43713373
Iteration 292, loss = 0.43713241
Iteration 293, loss = 0.43628741
Iteration 294, loss = 0.43671526
Iteration 295, loss = 0.43636776
Iteration 296, loss = 0.43704103
Iteration 297, loss = 0.43631716
Iteration 298, loss = 0.43677846
Iteration 299, loss = 0.43705300
Iteration 300, loss = 0.43635781
Iteration 301, loss = 0.43591959
Iteration 302, loss = 0.43604482
Iteration 303, loss = 0.43584285
Iteration 304, loss = 0.43604650
Iteration 305, loss = 0.43599154
Iteration 306, loss = 0.43566804
Iteration 307, loss = 0.43586114
Iteration 308, loss = 0.43574694
Iteration 309, loss = 0.43563746
Iteration 310, loss = 0.43579336
Iteration 311, loss = 0.43585594
Iteration 312, loss = 0.43578276
Iteration 313, loss = 0.43558191
Iteration 314, loss = 0.43551035
Iteration 315, loss = 0.43564270
Iteration 316, loss = 0.43533802
Iteration 317, loss = 0.43637472
Iteration 318, loss = 0.43582693
Iteration 319, loss = 0.43516065
Iteration 320, loss = 0.43558938
Iteration 321, loss = 0.43574141
Iteration 322, loss = 0.43560250
Iteration 323, loss = 0.43535198
Iteration 324, loss = 0.43591226
Iteration 325, loss = 0.43503855
Iteration 326, loss = 0.43484222
Iteration 327, loss = 0.43534022
Iteration 328, loss = 0.43492591
Iteration 329, loss = 0.43488013
Iteration 330, loss = 0.43500210
Iteration 331, loss = 0.43495679
Iteration 332, loss = 0.43505166
Iteration 333, loss = 0.43478804
Iteration 334, loss = 0.43498738
Iteration 335, loss = 0.43478196
Iteration 336, loss = 0.43439599
Iteration 337, loss = 0.43464601
Iteration 338, loss = 0.43470670
Iteration 339, loss = 0.43480693
Iteration 340, loss = 0.43475351
Iteration 341, loss = 0.43447332
Iteration 342, loss = 0.43421326
Iteration 343, loss = 0.43430848
Iteration 344, loss = 0.43474549
Iteration 345, loss = 0.43439877
Iteration 346, loss = 0.43394817
Iteration 347, loss = 0.43400802
Iteration 348, loss = 0.43411134
Iteration 349, loss = 0.43471967
Iteration 350, loss = 0.43399106
Iteration 351, loss = 0.43444718
Iteration 352, loss = 0.43419289
Iteration 353, loss = 0.43430536
Iteration 354, loss = 0.43416659
Iteration 355, loss = 0.43389586
Iteration 356, loss = 0.43373743
Iteration 357, loss = 0.43354059
Iteration 358, loss = 0.43357608
Iteration 359, loss = 0.43379240
Iteration 360, loss = 0.43389186
Iteration 361, loss = 0.43413800
Iteration 362, loss = 0.43341949
Iteration 363, loss = 0.43344293
Iteration 364, loss = 0.43433145
Iteration 365, loss = 0.43421873
Iteration 366, loss = 0.43371432
Iteration 367, loss = 0.43336463
Iteration 368, loss = 0.43337536
Iteration 369, loss = 0.43316520
Iteration 370, loss = 0.43338632
Iteration 371, loss = 0.43320530
Iteration 372, loss = 0.43343411
Iteration 373, loss = 0.43359530
Iteration 374, loss = 0.43317375
Iteration 375, loss = 0.43353702
Iteration 376, loss = 0.43307648
Iteration 377, loss = 0.43281113
Iteration 378, loss = 0.43301177
Iteration 379, loss = 0.43273888
Iteration 380, loss = 0.43270508
Iteration 381, loss = 0.43313155
Iteration 382, loss = 0.43250478
Iteration 383, loss = 0.43335049
Iteration 384, loss = 0.43318343
Iteration 385, loss = 0.43333992
Iteration 386, loss = 0.43308188
Iteration 387, loss = 0.43295648
Iteration 388, loss = 0.43292349
Iteration 389, loss = 0.43307982
Iteration 390, loss = 0.43392543
Iteration 391, loss = 0.43278424
Iteration 392, loss = 0.43306051
Iteration 393, loss = 0.43254408
Training loss did not improve more than tol=0.000010 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(20, 100), max_iter=1000, tol=1e-05,
              verbose=True)

In [21]:
n_previsoes = rede_neural.predict(X_test)

In [22]:
print(n_previsoes.shape)

(418,)

In [23]:
n_previsoes

array([0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [24]:
from sklearn.metrics import accuracy_score, classification_report

In [25]:
y_test_sub = df_test_sub['Survived']
print(f"Rede Neural Accuracy: {accuracy_score(y_test_sub, n_previsoes)}")

Rede Neural Accuracy: 0.9425837320574163

In [26]:
sub=pd.Series(n_previsoes, index=df_test["PassengerId"], name="Survived")

In [27]:
sub.to_csv("submitMI.csv", header=True)

In [28]:
# from sklearn.neural_network import MLPClassifier
# from sklearn.metrics import accuracy_score

# # Define the parameter combinations to test
# hidden_layer_sizes_list = [(20,), (50,), (100,), (20, 50), (50, 100), (100, 200)]
# max_iter_list = [500, 1000, 2000, 3000, 4000]
# tol_list = [0.0001, 0.00001, 0.000001]

# # Initialize variables for the best parameter values and accuracy
# best_hidden_layer_sizes = None
# best_max_iter = None
# best_tol = None
# best_accuracy = 0

# # Loop through all parameter combinations
# for hidden_layer_sizes in hidden_layer_sizes_list:
#     for max_iter in max_iter_list:
#         for tol in tol_list:
#             # Create and train the MLPClassifier with the current parameters
#             rede_neural = MLPClassifier(max_iter=max_iter, 
#                                         verbose=True, 
#                                         tol=tol,
#                                         hidden_layer_sizes=hidden_layer_sizes)
#             rede_neural.fit(X_train, y_train)

#             # Make predictions and calculate the accuracy
#             n_previsoes = rede_neural.predict(X_test)
#             accuracy = accuracy_score(y_test_sub, n_previsoes)

#             # Check if the current accuracy is the highest so far
#             if accuracy > best_accuracy:
#                 best_hidden_layer_sizes = hidden_layer_sizes
#                 best_max_iter = max_iter
#                 best_tol = tol
#                 best_accuracy = accuracy

# # Print the best parameter values and accuracy
# print("Best parameters:")
# print(f"hidden_layer_sizes: {best_hidden_layer_sizes}")
# print(f"max_iter: {best_max_iter}")
# print(f"tol: {best_tol}")
# print(f"Best accuracy: {best_accuracy}")

In [29]:
# y_test_sub = df_test_sub['Survived']
# print(f"Rede Neural Accuracy: {accuracy_score(y_test_sub, n_previsoes)}")

In [30]:
# sub2=pd.Series(n_previsoes, index=df_test["PassengerId"], name="Survived")

In [31]:
# sub2.to_csv("submitMII.csv", header=True)